
<button type="button" (click)="addStudent()" pButton type="button" label="NEW" class="p-button-rounded p-button-info"
    icon="pi pi-user-plus"></button>
<br />
<br />
<br />
<p-table [value]="students">
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>Gender</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Avatar</th>
            <th></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-student>
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student?.dob}}</td>
            <td>{{student?.email}}</td>
            <td>{{student?.phone}}</td>
            <td>
                <p-image src="{{student?.avatar}}" alt="Image"></p-image>
            </td>
            <td>
                <button (click)="deleteStudent(student.id)" pButton type="button" class="p-button-rounded p-button-danger"
                    icon="pi pi-user-minus"></button>
            </td>
            <td>
                <button (click)="editStudent(student.id)" pButton type="button" class="p-button-rounded p-button-success" icon="pi pi-user-edit"></button>
            </td>


        </tr>
    </ng-template>
</p-table>